<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/TASLP.2023.3331139">Factors that Influence Automatic Recognition of African-American Vernacular English in Machine-learning Models</a>.
			</span><br />
			<span class="authors">
				Emma Hamel and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE/ACM Transactions on Audio, Speech, and Language Processing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2211.08142">Semantic Representations of Mathematical Expressions in a Continuous Vector Space</a>.
			</span><br />
			<span class="authors">
				Neeraj Gangwar and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Transactions on Machine Learning Research</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://link.springer.com/chapter/10.1007/978-3-031-42753-4_9">Highlighting Named Entities in Input for Auto-formulation of Optimization Problems</a>.
			</span><br />
			<span class="authors">
				Neeraj Gangwar and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Intelligent Computer Mathematics</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://link.springer.com/chapter/10.1007/978-3-031-16681-5_23">An Evaluation of NLP Methods to Extract Mathematical Token Descriptors</a>.
			</span><br />
			<span class="authors">
				Emma Hamel, Hongbo Zheng, and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Intelligent Computer Mathematics</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
