<table class="table">
<tbody>

	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="">E-Gen: Leveraging E-Graphs to Improve Continuous Representations of Symbolic Expressions</a>.
			</span><br />
			<span class="authors">
				Hongbo Zheng, Suyuan Wang, Neeraj Gangwar and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue"> Findings of the Association for Computational
				Linguistics: NAACL 2025 </span>.
			<br />
			<span class="links"> /papers/EGen.pdf
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="">Advancing Math Formula Search Using Diverse Structural and Symbolic Representations</a>.
			</span><br />
			<span class="authors">
				Sumedh Vemuganti, Ayu Seiya and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue"> The 47th European Conference on Information Retrieval (ECIR)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://mathai2024.github.io/papers/">Intermediate Fine-Tuning Improves Mathematical Reasoning in Smaller Models</a>.
			</span><br />
			<span class="authors">
				Neeraj Gangwar, Suma Bhat and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">The 4th Workshop on Mathematical Reasoning and AI at NeurIPS'24</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://mathai2024.github.io/papers/">STEM-POM: Evaluating Language Models Math-Symbol Reasoning in Document Parsing</a>.
			</span><br />
			<span class="authors">
				Jiaru Zou, Qing Wang, Pratyush Thakur and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">The 4th Workshop on Mathematical Reasoning and AI at NeurIPS'24</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2410.21324">Mathematical Derivation Graphs: A Task for Summarizing Equation Dependencies in STEM Manuscripts</a>.
			</span><br />
			<span class="authors">
				Vishesh Prasad, Brian Kim and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv (Under review)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://patentimages.storage.googleapis.com/01/d5/22/35a8de053f5b8a/US20240135148A1.pdf">Semantic Representations of Mathematical Expressions in a Continuous Vector Space and Generation of Different but Mathematicallly Equivalent Expressions and Applications Thereof</a>.
			</span><br />
			<span class="authors">
				Nickvash Kani, Neeraj Gangwar and Hongbo Zheng.
			</span><br />
			<span class="venuetype"></span><span class="venue">US Patent Office</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/TASLP.2023.3331139">Factors that Influence Automatic Recognition of African-American Vernacular English in Machine-learning Models</a>.
			</span><br />
			<span class="authors">
				Emma Hamel and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE/ACM Transactions on Audio, Speech, and Language Processing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2211.08142">Semantic Representations of Mathematical Expressions in a Continuous Vector Space</a>.
			</span><br />
			<span class="authors">
				Neeraj Gangwar and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Transactions on Machine Learning Research</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://link.springer.com/chapter/10.1007/978-3-031-42753-4_9">Highlighting Named Entities in Input for Auto-formulation of Optimization Problems</a>.
			</span><br />
			<span class="authors">
				Neeraj Gangwar and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Intelligent Computer Mathematics</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://link.springer.com/chapter/10.1007/978-3-031-16681-5_23">An Evaluation of NLP Methods to Extract Mathematical Token Descriptors</a>.
			</span><br />
			<span class="authors">
				Emma Hamel, Hongbo Zheng, and Nickvash Kani.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Intelligent Computer Mathematics</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
